* { box-sizing: border-box; }

body { font-family: sans-serif;
background: black;
}

@keyframes cube {
    to {
      background-position: -200% center;
    }
}
.scene {
  width: 170px;
  height: 120px;
  margin: 80px;
  margin-top: 200px;
  perspective: 400px;
}

.cube {
  width: 170px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d; 
  animation: loading 20s infinite;
}
@keyframes loading {
    0% { 
      transform: rotateY(0); 
    }
    25% { 
      transform: rotateY(-90deg);
    }
    
    50%{
      transform: rotateY(-180deg);
    }
    
    75%{
        transform: rotateY(-270deg);
    }
    100%{
        transform: rotateY(-360deg);
    }
    
   }






.cube__face {
  position: absolute;
  width: 170px;
  height: 120px;
  line-height: 170px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  }

.cube__face--front  { 
    background: url("https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/296293049_588917306095639_4437013926276943919_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGaOrKTbOYpwbJlKBnVBV8-Zek5mZyo91Nl6TmZnKj3U4Sub2uf5ezaTnbLus9UB9Pe-rhIMOqqAqFjw2ssrSBv&_nc_ohc=cIV9wNu9U78AX8FCiuE&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVLK9ehp3jbQGxVvyd8A1fz1tkiWR1cz8kvQ2rJfOQFUtw&oe=630C4366");
    background-size: cover;
 }
.cube__face--right  { 
    background: url("https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/295462742_1671233866584094_5315536742998177159_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeG6rQ8im4qrEeljIlOx5YKLDBk4mmcCj8wMGTiaZwKPzK-2J4Em1Zxa-L07E4veTp7A0DCRy_NKI8GxTgLwd7Tn&_nc_ohc=ugvkR6rv-zsAX8v-Bw3&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVKtRP8GG5AtdvdTmZMvjTyeRUwN4HFMkBNj-o0T0Anh1A&oe=630CF561");
    background-size: cover;
 }
.cube__face--back   { background: url("https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/296280217_1203658963767248_5515955593197493653_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeH4_b1uQkkh8juG5CKiRZDWpJmhi288FqikmaGLbzwWqF7CU_XyH-yqs_czRzocjeJyMV_-MD-AbSckjPamyzzO&_nc_ohc=4KGTu6wrQ3AAX_N8hUv&tn=afFmoa3G2_DHbA8R&_nc_ht=scontent.fbkk22-1.fna&oh=03_AVJF_pJNuptfthY2KMLZaTFlWWSfiWpBP7JN0wW9RXTSpQ&oe=630C3B41"); 
    background-size: cover;}
.cube__face--left   { background: url("https://scontent.fbkk22-8.fna.fbcdn.net/v/t1.15752-9/295309777_507734197820339_9005907206843436299_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHuUYhk_GLPQie6sL9frNiTguGKV0TJ9AuC4YpXRMn0C2xnr2K3UE5z0lvaDjIWKtvD6BU27MTlX_SLmKVHZpQB&_nc_ohc=MeFTcXQ-mOYAX-pu-sw&tn=afFmoa3G2_DHbA8R&_nc_ht=scontent.fbkk22-8.fna&oh=03_AVL8Ww7d8yuvIihqJ3lXQR1Cn815bSs64AxK6pGqhkD_hA&oe=630A3BC1"); 
    background-size: cover;}
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(150px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(150px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(150px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(150px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(0px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(0px); }

label { margin-right: 10px; }