*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
body{
  font-family: 'Oswald', sans-serif;
  height: 200%;
}
html{
  scroll-behavior: smooth;

    font-family: 'Oswald', sans-serif;

}

img{
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.header button{
  margin-top: 5px;
  margin-left: 5px;
}
.myname{

  background: rgba(215, 168, 110, 0.8);
  display: block;
  width: 100%;
  height: 100%;
      position: absolute;
     
      text-align: center;

      
      font-size: 25px;
      text-transform: uppercase;
      

}

.about{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background: white;
  display: inline-block;
}
.skill{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200%;
  background: black;
  display: inline-block;
}
.contact{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 300%;
  background: magenta;
  display: inline-block;
}

.waviy {
  padding: 60px;
  width: 100%;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -50%;
  position: absolute;
  -webkit-box-reflect: below -315px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 30px;   
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s;
  animation-delay: calc(.1s * var(--i));
  
}


.waviy {
    padding: 60px;
    width: 100%;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -50%;
    position: relative;
    -webkit-box-reflect: below -315px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 30px;   
  }



  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

