@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Prompt:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header button{
    position: fixed;
    z-index: 3;
}
.header{
    font-family: 'Prompt', sans-serif;
    width: 35%;
    height: 200%;
}
.bar{
    left: -35%;
    position: fixed;
    width: 35%;
    height: 100%;
    background: #425a7e;
    transition: .3s;
    z-index: 2;
}
.header.active .bar{
   left: 0;
}
.bi-list{
    font-size: 40px;
    color: #ced6e3;
}

.t1{
    margin-top: 80px;
    font-size: 20px;
    margin-left: 20px;
}
.t2, .t3, .t4{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
}
.linkbar{
    text-decoration: none;
    color: #ced6e3;
}